
@media screen and (min-width:700px) {

    

label{
    padding-right: 30px;
}

input{
padding-left: 25px;
padding-right: 25px;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
border-width: 3px;
border-radius: 10px;
border-color: rgb(99, 99, 99);
}

input:focus{
    border-color: lawngreen;
}
button{
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 42%;
    border-radius: 10px;
}
button:active{
    background-color: red;
}
}

@media screen and (min-width:100px) and (max-width:700px) {
    label{
        display: block;
        font-size: 15px;
    }
}
