
@media screen and (min-width:700px) {


.container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(11, 11, 11);
    }
          
  
label{
    padding-right: 30px;
    display: block;
}

  input{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgb(99, 99, 99);
  }
  
  input:focus{
      border-color: lawngreen;
  }
  button{
      padding-top: 6px;
      padding-bottom: 5px;
      padding-left: 25px;
      padding-right: 25px;
      margin-left: 42%;
      border-radius: 10px;
  }
  button:active{
      background-color: red;
  }
  }
  
@media screen and (min-width:100px) and (max-width:700px) {
h1{
    color: black;
    font-size: 16px;
    }
.container{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
label{
    font-size: 15px;
    display: block;
}

input:focus{
    border-color: lawngreen;
}

button:active{
    background-color: red;
}
}
